<td width="12%"><%= link_to "#{i.key}", "#{@browse_address}#{i.key}", target: '_blank' %></td>
<td><%= "#{i.fields['summary']}" %></td>
<td width="7%"><%= "#{i.fields['priority']['name']}" %></td>
<td width="7%"><%= "#{i.fields['status']['name']}" %></td>
